button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
  font-size: inherit;
  color: inherit;
  
}

.tx-gg {
  color: #777777;
}
.border-gg {
  border: 2px solid #eaeaea;
}